[submodule "msmonitor/third_party/dynolog"]
	path = msmonitor/third_party/dynolog
	url = https://github.com/facebookincubator/dynolog.git
[submodule "msprobe"]
	path = msprobe
	url = https://gitcode.com/Ascend/msprobe
[submodule "msinsight"]
	path = msinsight
	url = https://gitcode.com/Ascend/msinsight
[submodule "msmemscope"]
	path = msmemscope
	url = https://gitcode.com/Ascend/msmemscope
