[submodule "msprobe"]
	path = msprobe
	url = https://gitcode.com/Ascend/msprobe
[submodule "msinsight"]
	path = msinsight
	url = https://gitcode.com/Ascend/msinsight
[submodule "msmemscope"]
	path = msmemscope
	url = https://gitcode.com/Ascend/msmemscope
[submodule "msprof"]
	path = msprof
	url = https://gitcode.com/Ascend/msprof.git
[submodule "mspti"]
	path = mspti
	url = https://gitcode.com/Ascend/mspti.git
[submodule "msprof-analyze"]
	path = msprof-analyze
	url = https://gitcode.com/Ascend/msprof-analyze.git
