{% if rows|length > 0 %}
<div class="collapsible">
      <h2 class="collapsible-header" style="background-color: {{ priority_background_color }};">{{ sheet_name }}</h2>
      <div class="collapsible-content">
            <a style="font-weight: bold" id="timeline_api_instruction_issue">Issue: {{ desc }}</a>
            <br><br>
            <table>
                <tr>
                {% for header in headers %}
                    <th> {{ header }} </th>
                {% endfor %}
                </tr>

                {% for row in rows %}
                <tr>
                    {% for element in row %}
                    <td>{{ element|safe }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </table>

        </div>
</div>
{% endif %}