<div class="collapsible">
  <h2 class="collapsible-header" style="background-color: {{ priority_background_color }};">Memory Operator Issues</h2>
  <div class="collapsible-content">
  {% if rank is not none %}
  <a style="font-weight: bold" id="timeline_api_instruction">Analysis of rank {{ rank|safe }}. </a>
  {% endif %}
    <a style="font-weight: bold" id="timeline_api_instruction">{{ desc }}</a>
    <table>
        <tr>
            <th>Suggestions</th>
        </tr>

        {% for suggestion in suggestions %}
            <tr>
                <td>{{ loop.index }}. {{ suggestion|safe }}</td>
            </tr>
        {% endfor %}
    </table>

  </div>
</div>
